{% extends "admin/change_list.html" %}

{% block object-tools %}
    {{ block.super }}
    <div class="object-tools">
        <div class="button-container" style="display: flex; justify-content: center; align-items: center; margin: 20px 0;">
            <form action="{% url 'admin:custom_action' %}" method="post" style="display: inline;">
                {% csrf_token %}
                <input type="text" name="message" placeholder="Введите сообщение" style="margin-right: 10px;">
                <input type="submit" value="Рассылка" class="button">
            </form>
        </div>
    </div>
{% endblock %}